ansi2html 
blinker 
Bottleneck 
certifi
charset-normalizer 
click 
dash 
Flask
gunicorn 
idna 
importlib-metadata 
itsdangerous 
Jinja2 
MarkupSafe 
nest-asyncio 
numexpr 
numpy 
packaging 
pandas
plotly 
PySocks 
python-dateutil 
pytz 
requests 
retrying
six 
tenacity 
typing_extensions 
urllib3 
Werkzeug 
zipp 
